DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DATABASE_URL=file:./packages/database/prisma/dev.db
DEV_MODE=false
ALLOWED_USER_IDS=
ALLOWED_ROLE_IDS=

# Grafana Cloud Loki (optional)
GRAFANA_CLOUD_LOKI_URL=
GRAFANA_CLOUD_LOKI_USERNAME=
GRAFANA_CLOUD_LOKI_API_KEY=
